{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {},
    "development": {},
    "production": {}
  }
}
