{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "jest"],
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "prettier/react"
  ],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
