{
  "extends": ["plugin:flowtype/recommended", "airbnb", "prettier", "prettier/react"],
  "plugins": ["flowtype", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": 0,
    "jsx-a11y/href-no-hash": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
