{
    "linters": {
        "*.js": [
            "eslint"
        ],
        "**/*.+(js|jsx||json|yml|yaml|css|scss|ts|tsx|graphql|vue|mjs)": [
            "prettier --write",
            "git add"
        ]
    }
}